body {
    background-color: #2B2B2B;
    color: #A9B7C6;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

#menu {
    text-align: center;
}

#menu ul {
    list-style: none;
    font-size: 28px;
}

#menu li {
    margin-left: 20px;
    display: inline;
}

.table {
    padding: 5px;
}

.tableHeader {
    font-size: 20px;
    color: #FFC66D;
}

.table td {
    width: 125px;
    height: 30px;
}

.input {
    font-size: 16px;
    width: 195px;
}

.btn {
    width: 100px;
    height: 30px;
}

.link {
    text-decoration: none;
    color: #8B8B8B;
}

.linkCurrent {
    text-decoration: none;
    color: #206EBB;
}

.linkEdit {
    text-decoration: none;
    color: #4884C5;
}
.linkDelele {
    text-decoration: none;
    color: #990D10;
}